.game-tile {
    height: 75px;
    width: 75px;
    border: 2px solid #737373;
    border-radius: 5px;
    flex: 0 1 20%;
    cursor: pointer;
}

.clickable {
    pointer-events: auto;
}

.unclickable {
    pointer-events: none;
}